<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by the Dev Team for CSGO Skill.
  ~ Copyright (c) 2018. All rights reserved.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.flare_esports.csgoskill">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Flare">
        <activity
            android:name=".Intro"
            android:theme="@style/Theme.Flare.NoActionBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Main"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden" />
    </application>

</manifest>
