<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Created by the Dev Team from Flare E-Sports on 11/26/17 8:29 AM
  ~ Copyright (c) 2017. All rights reserved
  ~
  ~ Last modified 9/5/17 12:49 PM
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.flare_esports.csgoskill">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="net.flare_esports.csgoskill.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>