<h2>Welcome to CSGO Skill!</h2>
<br>
<b>Skill Bot</b> here. CSGO Skill is an open-source and free project made to track stats for CSGO players. By connecting an email to your account, you gain access to more features like customizing your profile, a custom account link, optional newsletters, and more to come!
<br>
<br>
My sources tell me that this email was used to create an account over at <a href="http://csgo-skill.com" style="color:dodgerblue">http://www.csgo-skill.com/</a>. If you did not make this request then you can ignore me, you won't get anymore emails. If you did, please click the activation link below.
<br>
<b>Username:</b> <%= name %>
<br>
<b>Activation Link:</b> <a href="http://csgo-skill.com/activate?k=<%= key %>" style="color:dodgerblue">http://csgo-skill.com/activate?k=<%= key %></a>
<br>
<br>
Skill Bot cares about your inbox, so I will never send you future emails unless they are critical. You'll be notified about things like username changes, account deletion, or privacy setting changes, so be sure to add me to your contacts list!
<br>
<br>
To get emails about updates or game news, you can enable them by going to your <a href="http://csgo-skill.com/settings" style="color:dodgerblue">account settings</a> once you activate your account. These types of emails are NOT enabled by default, you're welcome :)
<br>
<br>
<br>
GL HF,
<br>
Skill Bot
<br>
<p style="font-size:smaller;color:grey">If you don't want to hear me ramble, you can <a href="http://csgo-skill.com/block?m=<%= email %>" style="color:steelblue">add your email to the blacklist</a> :(</p>
