<br>
<p style="font-size:smaller;color:grey">If you don't want to hear me ramble, you can <a href="http://csgo-skill.com/block?m=<%= email %>" style="color:steelblue">add your email to the blacklist</a> :(</p>
