php_flag log_errors on
php_value error_log /home/flareesp/php_errors.log

RewriteEngine On

# Check if request is .html and doesn't exist
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)\.html$ $1.php [QSA,L]

# Finally, check if adding .php is a file
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule (.*) $1.php [QSA,L]
